
Input {
  background: transparent;
  border: white;
  color: white;
  width: 80%;
}


Button {
  background: black;
}

.input_area {
  height: 10%;
  width: 100%;
}

VerticalScroll {
  background:green;
  align-items: center;
  align-content: center;
}